.fltImgShow{
    margin: 15px 0 0 0 ;
    display: none;
    align-items: center;
}

.fltAppliedImg{
    margin: 15px 0 0 0 ;
    display: none;
    align-items: center;
}

#fltImgShow,
#fltImgShow1,
#fltImgShow2,
#fltImgShow3{
    height: 305px;
    width: 305px;
    border-radius: 10px;
    background-size: cover;
    box-shadow: 0 0 10px 3px var(--raisin-black);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 11px 0 10px 0;
}